{% load ratingtags %}

<div class="ui card">
    <div class="content">
        <div class="right floated meta">
            {{ project.created|date:"d. F, Y" }}
        </div>
        <img class="ui avatar image" src="{{ project.author.get_avatar }}" />
        {{ project.author.get_full_name|default:project.author.username }}
    </div>

    <div class="image">
        <img src="{{ project.image|default:project.default_image }}" />
    </div>

    <div class="content">
        <a class="header">{{ project }}</a>
    </div>

    <div class="extra content">
        <span class="right floated">
            {% get_rating project as rating %}
            <div class="ui rating" data-rating="{{ rating.total_score }}" data-max-rating="5"></div>
        </span>

        <i class="users icon"></i>
        {{ project.projectparticipant_set.all|length }} contributors
    </div>
</div>