{% extends 'layout.html' %}

{% load i18n %}
{% load staticfiles %}
{% load semanticui %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/bootstrap-tagsinput.css' %}">
{% endblock %}

{% block body_js %}
    <script src="{% static 'js/bootstrap-tagsinput.js' %}"></script>
{% endblock %}

{% block content %}
    <form class="ui {% if not form.is_valid %}warning{% endif %} form" method="post" action="{% url 'projects_create' %}">
        {% csrf_token %}

        <h4 class="ui dividing header">Create new Project</h4>

        {{ form|semanticui }}

        <button class="ui green basic button" type="submit">{% trans "Create" %}</button>
    </form>
    
    <div class="ui divider hidden"></div>
{% endblock %}