{% extends 'layout.html' %}

{% load i18n %}
{% load staticfiles %}
{% load semanticui %}

{% block ng_controller %}ProjectEditController{% endblock %}

{% block content %}
    {% verbatim %}
    <form class="ui form {{ formClass }}" enctype="multipart/form-data">
    {% endverbatim %}
        {% csrf_token %}

        <h4 class="ui dividing header">Create new Project</h4>

        {% verbatim %}
        <div class="ui error message ng-hide" ng-show="errors">
            <div class="header">There are errors in form:</div>

            <p ng-repeat="(name, errs) in errors" class="alert alert-danger"><strong>{{ name|normalize }}</strong>: {{ errs.join(', ') }}</p>
        </div>
        {% endverbatim %}

        {% include 'snippets/form.html' with form=form %}

        <button class="ui green basic button" ng-click="save()">{% trans "Create" %}</button>
    </form>
    
    <div class="ui divider hidden"></div>
{% endblock %}

{% block body_js %}
    {{ block.super }}

    <script src="{% static 'js/models/Project.js' %}"></script>
    <script src="{% static 'js/controllers/ProjectController.js' %}"></script>
{% endblock %}