{% extends 'layout.html' %}

{% load staticfiles %}

{% block content %}
    <h2 class="ui dividing header page-header">{{ category }}</h2>

    <div id="project-feed"></div>
{% endblock %}

{% block body_js %}
    {{ block.super }}

    <script src="{% static 'js/Project.js' %}"></script>

    <script>
        $(function () {
            var project = new Project({
                getProjectsUrl: '{% url 'projects_get_by_category' category=category.slug %}'
            });

            project.renderProjectPanel();
        });
    </script>
{% endblock %}