{% extends 'layout.html' %}

{% load staticfiles %}

{% block content %}
    <h2 class="ui dividing header page-header">All Projects</h2>

    <div id="project-feed"></div>
{% endblock %}

{% block body_js %}
    {{ block.super }}

    <script src="{% static 'js/Project.js' %}"></script>

    <script>
        $(function () {
            var project = new Project({
                ajaxUrl: '{% url 'api_projects_list' %}'
            });

            project.renderProjectPanel();
        });
    </script>
{% endblock %}