{"filter":false,"title":"requirements.txt","tooltip":"/requirements.txt","undoManager":{"mark":1,"position":1,"stack":[[{"start":{"row":13,"column":0},"end":{"row":13,"column":16},"action":"remove","lines":["django-activeurl"],"id":2}],[{"start":{"row":12,"column":11},"end":{"row":13,"column":0},"action":"remove","lines":["",""],"id":3}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":12,"column":11},"end":{"row":12,"column":11},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1441192022574,"hash":"a716ce57b5136389196f9634cd5959715990bc9f"}