html, body {
    overflow-x: hidden;
}

.color-green {
    color: #92D36E;
}

.navbar-top {
    margin-bottom: 0;
}

.profile-img {
    max-height: 40px;
    margin-top: -10px;
    margin-bottom: -10px;
}

.green {
    color: #92D36E;
}

.online-circle {
    font-size: 6px !important;
}

.news-feed-box i {
    font-size: 12px;
}

.news-feed-text {
    font-size: 12px;
}

.news-feed-time {
    font-size: 10px;
    font-style: italic;
}

.active-menu-item {
    background: rgba(255,255,255,.15) !important;
    color: #fff!important;
    background-color: #f2711c !important;
    border-color: #f2711c !important;
}

.page-header {
    padding: 15px 0 !important;
}