{% extends 'layout_common.html' %}

{% load staticfiles %}
{% load sitetags %}

{% block left_menu %}{% endblock %}

{% block top_menu_left_items %}
    <div class="item">
        <a href="{% url 'welcome_index' %}">
            DevNet
        </a>
    </div>
    
    <a class="{% current request 'projects_list_all' %} item" href="{% url 'projects_list_all' %}">
        Browse Projects
    </a>
    
    <a class="item" href="{% url 'account_signup' %}">
        Sign Up
    </a>
{% endblock %}

{% block top_menu_right_items %}
    <a class="right item" href="{% url 'account_login' %}">
        Sign In
    </a>
{% endblock %}

{% block notification_panel %}{% endblock %}