{% extends 'layout_common.html' %}

{% load sitetags %}
{% load categories %}

{% block top_menu_left_items %}
    <div class="red active item">
        <a href="{% url 'welcome_index' %}">
            DevNet
        </a>
    </div>

    <a class="{% current request 'projects_create' %} item" href="{% url 'projects_create' %}">
        Add Project
    </a>

    <div class="ui dropdown item {% current request 'projects_list_all projects_list_category' %}">
        Browse Projects
        <i class="dropdown icon"></i>

        {% get_categories request as categories %}

        <div class="menu">
            <a class="item" href="{% url 'projects_list_all' %}">
                All Projects
            </a>

            {% for category in categories %}
                <a class="item" href="{% url 'projects_list_category' category=category.slug %}">{{ category.title }}</a>
            {% endfor %}
        </div>
    </div>

    <a class="item" href="#">
        Invest in Project
    </a>

    <a class="item" href="#">
        News
    </a>

    <a class="item" href="#">
        Discussions
    </a>
{% endblock %}

{% block top_menu_right_items %}
    <div class="ui category search item">
        <div class="ui transparent icon input">
            <input class="prompt" type="text" placeholder="Search...">
            <i class="search link icon"></i>
        </div>

        <div class="results"></div>
    </div>

    <a class="icon item">
        <i class="mail icon"></i>
    </a>

    <div class="ui dropdown item {% current request 'account_settings profiles_update account_logout' %}">
        <img class="ui avatar image" src="{{ request.user.get_avatar }}">
        <span>{{ request.user.username }}</span>
        <i class="dropdown icon"></i>

        <div class="menu">
            <a class="item" href="{% url 'account_settings' %}">
                Settings
            </a>

            <a class="item" href="{% url 'profiles_update' %}">
                Profile
            </a>

            <a class="item" href="#">
                Notifications
            </a>

            <a class="item" href="{% url 'account_logout' %}">
                Logout
            </a>
        </div>
    </div>

    <a class="item" id="notification-button">
        <i class="alarm icon"></i> (<span id="notification-count">{{ unread_notifications }}</span>)
    </a>
{% endblock %}